body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    height: fit-content;
}

* {
    border: 
}

header {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

ul li {
    height: fit-content;
}

.logo {
    margin: 0;
    padding: 0;
    height: fit-content;
    font-size: 24px;
    color: #f9faf8;
}

.left-link-header, .right-links-header {
    height: fit-content;
}

.header-links {
    height: fit-content;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.top-1st-half {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.top-main-text, .top-subtext {
    height: fit-content;
    flex-wrap: wrap;
}

.top-main-text {
    width: 350px;
    margin-left: -50px;
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.top-subtext {
    width: 450px;
    margin-top: -20px;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 50px;
}

.sign-up {
    width: fit-content;
    padding: 7px;
    margin-top: -5px;
    margin-left: -345px;
    background-color: #3882f6;
    border-radius: 8px;
}

.top-2nd-half {
    height: 400px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.img-placeholder {
    width: 400px;
    height: 200px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -300px;
}

.top-whole {
    display: flex;
}

.middle-1st-half {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.middle-main-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    gap: 25px;
}

.box {
    height: 125px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.middle-subtext {
    width: 150px;
}

.quote-main {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}

.call-to-action {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.call-to-action-popup {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    border-radius: 5px;
    height: 125px;
    width: 850px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.call-to-action-text1 {
    font-size: 24px;
    color: #f9faf8;
    margin-left: -460px;
}

.call-to-action-text2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -25px;
    margin-left: -250px;
}

.call-to-action-button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    margin-right: -500px;
    position: absolute;
    top: 62px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color:#f9faf8
}